steps:
  - task: TerraformTaskV4@4
    displayName: 'Terraform Plan'
    inputs:
      provider: 'azurerm'
      command: 'plan'
      workingDirectory: '$(System.DefaultWorkingDirectory)/$(terraformWorkingDirectory)'
      environmentServiceNameAzureRM: '$(backendServiceArm)'
      commandOptions: '-out=$(Build.ArtifactStagingDirectory)/tfplan'
  - task: PublishBuildArtifacts@1
    displayName: 'Publish Plan Artifact'
    inputs:
      pathToPublish: '$(Build.ArtifactStagingDirectory)'
      artifactName: 'tfplan'
