steps:
  - task: TerraformTaskV4@4
    displayName: 'Terraform Init'
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: '$(System.DefaultWorkingDirectory)/$(terraformWorkingDirectory)'
      backendServiceArm: '$(backendServiceArm)'
      backendAzureRmResourceGroupName: '$(backendResourceGroupName)'
      backendAzureRmStorageAccountName: '$(backendStorageAccountName)'
      backendAzureRmContainerName: '$(backendContainerName)'
      backendAzureRmKey: '$(backendKey)'
