trigger:
  - main

pr:
  - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  terraformVersion: '1.5.0'
  backendServiceArm: '$(AzureServiceConnection)'
  backendResourceGroupName: 'rg-terraform-backend'
  backendStorageAccountName: 'stgterraformbackend'
  backendContainerName: 'tfstate'

extends:
  template: ./stages/build-stage.yml
